**/node_modules
**/.tmp
**/.sass-cache
**/bower_components/**
**/.vscode
**/.idea
**/.DS_Store
app/properties.json
**/.settings/
.project
.tag*
**/target/
.settings/
.classpath
.project
**/build/
**/dist/
**/Servers/
**/.metadata
.DS_Store
Token.rar
.tern-project
*.log*
nb-configuration.xml
nbactions.xml
*.pea
